# Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
.venv/
env/

# Build / dist
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
